# Lab 2: Using Python psycopg2, JupyterLab, and pgAdmin

## Step3: Connect to the Database

In [18]:
import psycopg2

passward = input("Enter passward: ")

dsn = "dbname=lab2 host=localhost user=postgres password=" + passward
conn = psycopg2.connect(dsn)
cur = conn.cursor()

## Step 4: Create a Table

In [4]:
cur.execute(
    "CREATE TABLE test ("
        "id SERIAL PRIMARY KEY,"
        "num integer,"
        "data varchar"
    ")"
)

conn.commit()

## Step 5: Insert Data

In [5]:
cur.execute(
    "INSERT INTO test (num, data) VALUES (%s, %s)", (100, "abc'def")
    )

conn.commit()

## Step 6: Query Data

In [7]:
cur.execute("SELECT * FROM test;")
cur.fetchall()

[(1, 100, "abc'def")]

## Exercise
### Exercise 1: Create a New Table

In [8]:
cur.execute(
    "CREATE TABLE departments ("
        "id SERIAL PRIMARY KEY,"
        "name text"
    ")"
)

conn.commit()

### Exercise 2: Insert Data into the Table

In [13]:
cur.execute(
    "INSERT INTO departments (id, name) VALUES (1, 'HR');"
    "INSERT INTO departments (id, name) VALUES (2, 'IT');"
    "INSERT INTO departments (id, name) VALUES (3, 'IR');"
    )

conn.commit()

### Exercise 3: Query Data from Both Tables

In [16]:
cur.execute("SELECT * FROM departments;")
print(cur.fetchall())

cur.execute("SELECT * FROM employees;")
print(cur.fetchall())

[(1, 'HR'), (2, 'IT'), (3, 'IR')]
[(1, 'Alice', 30, 'HR'), (2, 'Bob', 25, 'Engineering'), (3, 'Charlie', 35, 'Marketing')]

### Exercise 4: Update Data

In [20]:
cur.execute(
    "UPDATE employees "
    "SET age = 20 "
    "WHERE id = 1;"
    )

conn.commit()

cur.execute("SELECT * FROM employees;")
cur.fetchall()

[(2, 'Bob', 25, 'Engineering'),
 (3, 'Charlie', 35, 'Marketing'),
 (1, 'Alice', 20, 'HR')]

### Exercise 5: Delete Data

In [21]:
cur.execute(
    "DELETE FROM employees "
    "WHERE id = 3;"
    )

conn.commit()

cur.execute("SELECT * FROM employees;")
cur.fetchall()

[(2, 'Bob', 25, 'Engineering'), (1, 'Alice', 20, 'HR')]