In [8]:
from scipy import stats

def one_sample_ttest(data, mean, alpha=0.05):
    _, p = stats.ttest_1samp(data, mean)

    if p < alpha:
        print(f"Null hypothesis rejected, p-value: {p}")
    else:
        print(f"Null hypothesis approved, p-value: {p}")

def two_sample_ttest(data1, data2, alpha=0.05):
    _, p = stats.ttest_ind(data1, data2)

    print("Null hypothesis: There is no difference between the two samples")
    if p < alpha:
        print(f"Null hypothesis rejected, p-value: {p}")
    else:
        print(f"Null hypothesis approved, p-value: {p}")

Exercise 1: One-Sample T-Test - Mean Weight of a Population  
You have a sample of weights (in kg) from a certain population. Test the hypothesis that the mean weight is 70 kg.  
Sample: [72, 68, 75, 71, 69, 70, 73, 68]  
Null Hypothesis: The population mean is 70 kg.  
Task: Conduct a one-sample t-test to verify if the population mean is statistically different from 70 kg.

In [4]:
one_sample_ttest([72, 68, 75, 71, 69, 70, 73, 68], 70)

Null hypothesis approved, p-value: 0.42294092668021854

Exercise 2: One-Sample T-Test - Average Height of Students  
A school claims the average height of its students is 165 cm. You take a random sample of 10 students:
Sample: [164, 162, 168, 167, 165, 166, 160, 159, 170, 163]  
Null Hypothesis: The mean height is 165 cm.  
Task: Test the school’s claim using a one-sample t-test.

In [5]:
one_sample_ttest([164, 162, 168, 167, 165, 166, 160, 159, 170, 163], 165)

Null hypothesis approved, p-value: 0.6011521875426783

Exercise 3: One-Sample T-Test - Customer Satisfaction Scores  
A company claims their average customer satisfaction score is 4.5 out of 5. You sample 12 customers:  
Sample: [4.2, 4.4, 4.5, 4.7, 4.5, 4.6, 4.4, 4.3, 4.5, 4.6, 4.2, 4.5]  
Null Hypothesis: The mean satisfaction score is 4.5.  
Task: Conduct a one-sample t-test to evaluate the company’s claim.

In [7]:
one_sample_ttest([4.2, 4.4, 4.5, 4.7, 4.5, 4.6, 4.4, 4.3, 4.5, 4.6, 4.2, 4.5], 4.5)

Null hypothesis approved, p-value: 0.2925184553957747

Exercise 4: Two-Sample T-Test - Exam Scores of Two Classes  
Compare the exam scores of two different classes:  
Class A: [85, 78, 90, 88, 84, 91, 89]  
Class B: [82, 80, 88, 86, 85, 79, 87]  
Task: Perform a two-sample t-test to check if there is a significant difference in the mean exam scores between the two classes.

In [9]:
two_sample_ttest([85, 78, 90, 88, 84, 91, 89], [82, 80, 88, 86, 85, 79, 87])

Null hypothesis: There is no difference between the two samples
Null hypothesis approved, p-value: 0.257584411334151

Exercise 5: Two-Sample T-Test - Sales Performance Before and After Training  
A sales team underwent a training program, and their sales were recorded before and after the training:  
Before: [1200, 1300, 1250, 1400, 1350, 1500]  
After: [1450, 1380, 1550, 1600, 1500, 1580]  
Task: Conduct a two-sample t-test to assess if the training significantly improved sales performance.

In [10]:
two_sample_ttest([1200, 1300, 1250, 1400, 1350, 1500], [1450, 1380, 1550, 1600, 1500, 1580])

Null hypothesis: There is no difference between the two samples
Null hypothesis rejected, p-value: 0.010090540561009647

Exercise 6: Two-Sample T-Test - Blood Pressure Medication  
You are given two groups: one taking a blood pressure medication and one taking a placebo. Their blood pressure reduction is measured:  
Medication group: [10, 12, 9, 14, 11, 13]  
Placebo group: [3, 5, 2, 4, 6, 5]  
Task: Use a two-sample t-test to determine whether the medication has a statistically significant effect on blood pressure.

In [11]:
two_sample_ttest([10, 12, 9, 14, 11, 13], [3, 5, 2, 4, 6, 5])

Null hypothesis: There is no difference between the two samples
Null hypothesis rejected, p-value: 1.9570173447435993e-05

Exercise 7: One-Sample T-Test - Test if a Coin is Fair You flip a coin 100 times, and it lands on heads 58 times. A fair coin should have 50 heads out of 100 flips.  
Null Hypothesis: The proportion of heads is 0.50.  
Task: Perform a one-sample t-test on the proportion of heads to determine if the coin is biased.

In [14]:
data = [1] * 58 + [0] * 42
one_sample_ttest(data, 0.5)

Null hypothesis approved, p-value: 0.10998066941759069

Exercise 8: Two-Sample T-Test - Comparison of Test Scores  
A researcher believes that students who study with music perform differently than those who study in silence. You have two groups:  
Music: [80, 85, 78, 90, 87, 76]  
Silence: [88, 82, 84, 89, 91, 85]  
Task: Use a two-sample t-test to compare the test scores of both groups and determine if the difference is significant.

In [15]:
two_sample_ttest([80, 85, 78, 90, 87, 76], [88, 82, 84, 89, 91, 85])

Null hypothesis: There is no difference between the two samples
Null hypothesis approved, p-value: 0.1768975161673121

Exercise 9: One-Sample T-Test - Average Lifespan of a Product  
A manufacturer claims that the average lifespan of their product is 5 years. A sample of products shows these lifespans:  
Sample: [4.8, 5.1, 4.9, 5.3, 4.7, 5.2, 5.0, 4.9]  
Task: Perform a one-sample t-test to check if the manufacturer’s claim is statistically valid.

In [16]:
one_sample_ttest([4.8, 5.1, 4.9, 5.3, 4.7, 5.2, 5.0, 4.9], 5)

Null hypothesis approved, p-value: 0.8667318497550061

Exercise 10: Two-Sample T-Test - Average Income of Two Cities  
Compare the average income of two cities based on a sample of residents:  
City A: [45000, 48000, 47000, 50000, 49000, 46000]
City B: [43000, 42000, 44000, 41000, 45000, 43000]
Task: Conduct a two-sample t-test to determine if there is a significant difference in income between the two cities.

In [17]:
two_sample_ttest([45000, 48000, 47000, 50000, 49000, 46000], [43000, 42000, 44000, 41000, 45000, 43000])

Null hypothesis: There is no difference between the two samples
Null hypothesis rejected, p-value: 0.0008414426956321737